<?xml version="1.0" encoding="UTF-8"?>
<env>
    <db>
        <url>jdbc:sqlserver://localhost:1433;databaseName=YOUR_DB_NAME;encrypt=true;trustServerCertificate=true</url>
        <user>YOUR_USER</user>
        <password>YOUR_PASSWORD</password>
    </db>
</env>
